[user]
	name = Hiroyuki Inoue
	email = mammymax@gmail.com

[alias]
	ci = commit
	st = status
	br = branch
	co = checkout

[color]
	ui = true

[include]
	path = ./.gitconfig.local

[core]
	excludesfile = /Users/inohiro/.gitignore_global
