[user]
	name = Hiroyuki Inoue
	email = mammymax@gmail.com

[alias]
	d = diff
	ci = commit
	st = status
	br = branch
	co = checkout
	ap = add -p
	sw = switch
	cim = commit -m
	merged-branches = !git branch --merge | egrep -v '\\*|master$'
	dmd = !git merged-branches | xargs -I{} git branch -d {}
	delete-merged-branches = !git dmd
	push-fwl = push --force-with-lease

[color]
	ui = true

[include]
	path = ./.gitconfig.local

[core]
	excludesfile = /Users/inohiro/.gitignore_global
	autocrlf     = input

[grep]
	linenumber = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
