[user]
	name = Hiroyuki Inoue
	email = hiroyuki.inoue@treasure-data.com
	signingkey = 6EDD8BE4A7C78466

[alias]
	d = diff
	ci = commit
	st = status
	br = branch
	co = checkout
	ap = add -p
	sw = switch
	cim = commit -m
	merged-branches = !git branch --merge | egrep -v '\\*|master$'
	dmd = !git merged-branches | xargs -I{} git branch -d {}
	delete-merged-branches = !git dmd
	push-fwl = push --force-with-lease

[color]
	ui = true

[include]
	path = ./.gitconfig_local

[core]
	excludesfile = /Users/hiroyukiinoue/.gitignore_global
	autocrlf     = input

[grep]
	linenumber = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[submodule]
	recurse = true
[init]
	templateDir = /Users/hiroyukiinoue/.git-templates/git-secrets
[secrets]
	patterns = [0-9]+/[a-f0-9]{40}
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
