"*":
  core:
    allowPendingPaneItems: false
    destroyEmptyPanes: false
    disabledPackages: [
      "webbox-color"
      "spell-check"
      "language-sparql"
    ]
    themes: [
      "metro-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Monaco"
    invisibles: {}
    scrollPastEnd: true
  "exception-reporting":
    userId: "6b0ebf2a-35da-a7d7-39ba-1584af6cce3e"
  "file-types":
    ".job$": "source.yaml"
    ".sql.job$": "source.sql"
    ct: "source.sql"
  "highlight-line":
    underline: "dotted"
  "markdown-preview":
    breakOnSingleNewline: true
  metrics:
    userId: "5950d32c12b4e926266ba9c0e8ff4c9df29c15c8"
  "metro-ui":
    theme: "Adaptive Dark"
    themeAccentColor:
      red: 7
      green: 99
      blue: 216
      alpha: 1
  pigments: {}
  react: {}
  rspec:
    command: "bundle exec rspec"
    save_before_run: true
  source:
    sql:
      editor:
        tabLength: 4
  term2:
    cursorBlink: false
  term3:
    cursorBlink: false
  "webbox-color": {}
  welcome:
    showOnStartup: false
".source.sql":
  editor:
    tabLength: 4
rspec:
  command: "bundle exec rspec"
