"*":
  "atom-material-ui":
    colors:
      abaseColor: "#cddc39"
      accentColor: "#737f10"
      paintCursor: true
      predefinedColor: "Lime"
    fonts:
      fontSize: 18
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    allowPendingPaneItems: false
    destroyEmptyPanes: false
    disabledPackages: [
      "webbox-color"
      "spell-check"
      "language-sparql"
    ]
    packagesWithKeymapsDisabled: [
      "git-diff"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Monaco"
    invisibles: {}
    scrollPastEnd: true
  "exception-reporting":
    userId: "6b0ebf2a-35da-a7d7-39ba-1584af6cce3e"
  "file-types":
    ".job$": "source.yaml"
    ".sql.job$": "source.sql"
    ct: "source.sql"
  "git-diff": {}
  "highlight-line":
    underline: "dotted"
  linter:
    showErrorPanel: false
  "markdown-preview":
    breakOnSingleNewline: true
  metrics:
    userId: "5950d32c12b4e926266ba9c0e8ff4c9df29c15c8"
  "metro-ui":
    theme: "Adaptive Dark"
    themeAccentColor:
      alpha: 1
      blue: 216
      green: 99
      red: 7
  pigments: {}
  react: {}
  rspec:
    command: "bundle exec rspec"
    save_before_run: true
  source:
    sql:
      editor:
        tabLength: 4
  term2:
    cursorBlink: false
  term3:
    cursorBlink: false
  "webbox-color": {}
  welcome:
    showOnStartup: false
".source.sql":
  editor:
    tabLength: 4
rspec:
  command: "bundle exec rspec"
